@import '../../../styles/internals';

.menu {
  &__link {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;

    font-family: 'Muller';
    @include fontz(2.1rem, 1.19, $black-color);

    cursor: pointer;
    transition: all 0.2s linear;

    &--contact {
      display: flex;
      gap: 0.9rem;
      min-height: 2.4rem;
    }

    &:hover {
      color: $orange-color;
    }
  }
}

.img-menu {
  position: relative;
  
  padding-bottom: 2.6rem;
  width: 2.4rem;
  height: 2.4rem;
}
