$black-color: #000000;
$black-color-light: #383838;

$white-color: #ffffff;

$grey-color: #666666;
$grey-color-light: #CCCCCC;
$grey-color-light-x1: #F2F2F2;

$orange-color: #F9572E;
$orange-color-light: #FF7B59;
$orange-color-light-x1: #f9572e99;
$orange-color-light-x2: #f9572eb3;

$green-color: #33B5A3;
$green-color-light: #63D2C1;

