$black-color: #000000;
$white-color: #ffffff;

$grey-color: #666666;
$grey-color-light: #CCCCCC;

$orange-color: #F9572E;
$orange-color-light: #FF7B59;
$orange-color-light-x1: #f9572e99;
$orange-color-light-x2: #f9572eb3;

$green-color: #33B5A3;
