mixin Message
  .message
    fieldset.message__wrapper
      legend.message__title Узнайте о запуске сервиса первым
      .message__img
        include ../../../assets/img/yes.svg
      .message__text
        p Спасибо! Мы будем держать вас в курсе обновлений
