include ../libs/_layout
  body
    //- p= buildTime + commitHash + version
    .wrapper
      +Header
      main.main
        +Promo
        +Fix
        +Interior
        +Feedback
      +Footer
    +Message
