@import '../../../styles/internals';

.interior {
  margin-bottom: 1.8rem;

  &__head {
    padding-left: 0.3rem;
    margin-bottom: 5.2rem;
  }

  &__title {
    margin-bottom: 0.8rem;

    @include title;
  }

  &__subtitle {
    @include subtitle;
  }

  &__body {
    position: relative;

    padding: 0 1rem;
  }
}

.slider-interior {
  position: relative;

  min-height: 50rem;
  max-width: 188rem;
  margin: 0 auto;

  display: flex;
  justify-content: flex-end;

  overflow: hidden;

  &__list {
    position: absolute;

    display: flex;

    transition: all 0.8s linear;
    transform: translateX(46.6rem);
  }

  &__slide {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 91.5rem;
    width: 100rem;
    padding-bottom: 50rem;
    padding-right: 7.3rem;

    opacity: 0.6;

    transition: all 0.2s linear;

    &.active {
      max-width: 98.4rem;

      opacity: 1;
    }
  }

  &__desc {
    position: relative;
    right: 0;
    top: 0;
    display: none;
    max-width: 14.4rem;

    @include fontz(1.3rem, 1.4, $grey-color);
  }

  &__panel {
    position: absolute;
    right: 28%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    height: 100%;
  }

  &__img {
    position: relative;

    padding-bottom: 50rem;
    max-width: 75rem;
    width: 100%;
  }
}

.slider-controls {
  position: absolute;
  bottom: 0;
  right: 27.4%;

  display: flex;
  gap: 3rem;
  width: 8.9rem;
  height: 4.4rem;

  &__prev,
  &__next {
    position: relative;

    width: 7.3rem;
    height: 4.4rem;
    border: unset;

    background-color: transparent;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;

      width: 3rem;
      height: 3rem;
      border: 0.3rem solid $orange-color;

      transition: all 0.2s linear;
    }
  }

  &__prev {
    &:before {
      left: 40%;

      border-top: none;
      border-right: none;

      transform: translateY(-50%) rotate(45deg);
    }

    &:hover:before {
      transform: translateY(-50%) rotate(45deg) skew(-10deg, -10deg);
    }
  }

  &__next {
    &:before {
      right: 40%;

      border-top: none;
      border-left: none;

      transform: translateY(-50%) rotate(-45deg);
    }

    &:hover:before {
      transform: translateY(-50%) rotate(-45deg) skew(10deg, 10deg);
    }
  }
}

.slider-controls__prev.disabled,
.slider-controls__next.disabled {
  cursor: default;

  &:before {
    border-color: $grey-color;
  }
}

.slider-controls__prev.disabled {
  &:hover:before {
    transform: translateY(-50%) rotate(45deg);
  }
}
.slider-controls__next.disabled {
  &:hover:before {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.slider-interior__slide.active > .slider-interior__desc {
  display: block;
}

@media (max-width: 1556px) {
  .slider-controls {
    right: 20%;
  }
}

@media (max-width: 1192px) {
  .slider-controls {
    right: 12%;
  }
}

@media (max-width: 991.98px) {
  .interior {
    margin-bottom: 11rem;
  }

  .slider-controls {
    right: 1%;
  }
}

@media (max-width: 843px) {
  .interior {
    margin-bottom: 0;
  }

  .slider-interior__img {
    padding-bottom: 47rem;
    max-width: 72rem;
    margin: 0 auto;
  }

  .slider-interior__slide,
  .slider-interior__slide.active {
    padding-top: 3rem;
  }

  .slider-interior__slide.active > .slider-interior__desc {
    max-width: unset;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767.98px) {
  .interior {
    &__title {
      font-size: 3.5rem;
    }
  }

  .slider-interior__slide {
    width: 70rem;
  }

  .slider-interior__slide.active {
    max-width: 76.4rem;
  }

  .slider-interior__slide.active > .slider-interior__desc {
    left: unset;
  }
}

@media (max-width: 575.98px) {
  .slider-interior__slide,
  .slider-interior__slide.active {
    max-width: 50rem;
  }

  .slider-interior__slide.active > .slider-interior__desc {
    display: none;
  }

  .interior {
    margin-bottom: 6rem;

    &__head {
      margin-bottom: 3rem;

      text-align: center;
    }

    &__title {
      font-size: 2.4rem;
    }

    &__subtitle {
      font-size: 1.4rem;
    }
  }
}
